//$primaryColor: #ff7f00;
$primaryColor: #ffaa00;
$textColor: #2a2824;
$dangerButton: #c9151b;
$footerSecondary: #fa0;
$footerIconColor: #c7bc6e;
$btnColor: #e9a05c;
$aboutBtnColor: #ffaa00;
$brownDark: #723810;
$detailsBg: #d19b2c;
