<!-- <app-virtual-reality-header></app-virtual-reality-header> -->
<div class="virtual-reality">
  <div class="virtual-reality-header">
    <img src="./assets/images/virtual-reality/header.png" alt="karnak-show" />
  </div>
</div>

<app-virtual-reality-content></app-virtual-reality-content>
<app-description-vedio></app-description-vedio>
<app-carousel
  [title]="'المواعيد'"
  [carouselItems]="carouselDataList"
></app-carousel>

<app-show-prices></app-show-prices>
<app-how-to-reach></app-how-to-reach>
<app-divider></app-divider>
