<section class="desc-vedio mr-top">
  <div class="container">
    <div class="desc-vedio-title">
      <img src="./assets/images/karnak/Vector.png" alt="Vector" />
      <h3>فيديو تعريفي</h3>
    </div>

    <div class="desc-vedio-content">
      <img
        src="./assets/images/karnak/Rectangle.png"
        class="w-100"
        alt="Rectangle"
      />
      <img
        src="./assets/images/karnak/player.png"
        class="player"
        alt="Player"
      />
    </div>
  </div>
</section>
