.desc-vedio {
  color: #fff;

  .desc-vedio-title {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin-bottom: 4.2rem;
    img {
      width: 50px;
    }
    h3 {
      font-size: 4.8rem;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -15px;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: #ffff;
    }
  }

  &-content {
    // background: url("../../../assets/images/karnak/Rectangle.png");
    // width: 100%;
    // height: 100%;
    position: relative;
    .player {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      cursor: pointer;
    }
  }
}

@media (max-width: 27em) {
  .desc-vedio-title {
    width: 100% !important;
    img {
      width: 30px !important;
    }
    h3 {
      font-size: 3.2rem !important;
    }
  }

  .desc-vedio-content {
    .player {
      transform: translate(-50%, -50%) !important;
    }
  }
}
