<!-- <footer>
  <div class="container">
    <div class="footer-container">
      <div class="about-us grid-item">
        <h3>من نحن</h3>

        <p class="about-us-content">
          شركة مصر للصوت والضوء و التنميه السياحية هي شركة عالميه تقدم عروض
          الصوت والضوء في مختلف المواقع المصرية الأثرية المختلفة مثل (اهرامات
          الجيزه ,معبد الكرنك بالأقصر ، معبد فيلة باسوان (معبد أبو سمبل باسوان و
          معبد الاله حورس بإدفو
        </p>

        <a href="#" class="more">المزيد ...</a>
      </div>

      <div class="offers grid-item">
        <h3>عروضنا</h3>

        <ul class="offers-list">
          <li>عرض الاهرامات</li>
          <li>معبد الكرنك</li>
          <li>معبد ادفو</li>
          <li>معبد الفيلة</li>
          <li>عرض ابوسمبل</li>
          <li>عرض الواقع الافتراضي</li>
          <li>عرض قلعة قايتباي</li>
        </ul>
      </div>

      <div class="links grid-item">
        <h3>روابط</h3>

        <ul class="links-list">
          <li><a href="#">مشاريع الاضاءة</a></li>
          <li><a href="#">حفلات</a></li>
          <li><a href="#">سياسة الالغاء</a></li>
          <li><a href="#">الاسئلة الشائعة</a></li>
        </ul>
      </div>
      <div class="contact grid-item">
        <h3>تواصل معنا</h3>

        <ul class="contact-list">
          <li>
            <div class="list-box">
              <i class="fa-solid fa-location-dot"></i>
              <p>ميدان ابو الهول - نزلة السمان الاهرامات - الجيزه - مصر</p>
            </div>
          </li>
          <li>
            <div class="list-box">
              <i class="fa-solid fa-envelope-open-text"></i>
              <p>support@soundandlight.show</p>
            </div>
          </li>
          <li>
            <div class="list-box">
              <i class="fa-solid fa-phone"></i>
              <p>+201553113161</p>
            </div>
          </li>
        </ul>

        <div class="contact-list-icons mt-5">
          <ul>
            <li>
              <img src="./assets/images/icons/facebook.png" alt="youtube" />
            </li>
            <li>
              <img src="./assets/images/icons/instagram.png" alt="instagram" />
            </li>
            <li>
              <img src="./assets/images/icons/linkedin.png" alt="linkedin" />
            </li>
            <li>
              <img src="./assets/images/icons/twitter.png" alt="youtube" />
            </li>
            <li>
              <img src="./assets/images/icons/youtube.png" alt="youtube" />
            </li>
          </ul>
          <p>
            نحن نقبل :
            <img src="./assets/images/icons/visa.png" alt="visa" />
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="footer-copy mt-5">
      <div class="copy--right">
        <p>
          <span class="lighter"> جميع الحقوق محفوظة &copy; 2024 </span>
          <span>مصر للصوت و الضوء</span>
        </p>

        <p>
          <span class="lighter"> تصميم و برمجة </span>
          <span>خبراء الديجيتال</span>
        </p>
      </div>
    </div>
  </div>
</footer> -->

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="about-us grid-item">
          <h3>من نحن</h3>

          <p class="about-us-content">
            شركة مصر للصوت والضوء و التنميه السياحية هي شركة عالميه تقدم عروض
            الصوت والضوء في مختلف المواقع المصرية الأثرية المختلفة مثل (اهرامات
            الجيزه ,معبد الكرنك بالأقصر ، معبد فيلة باسوان (معبد أبو سمبل باسوان
            و معبد الاله حورس بإدفو
          </p>

          <a href="#" class="more">المزيد ...</a>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="offers grid-item">
          <h3>عروضنا</h3>

          <ul class="offers-list">
            <li>عرض الاهرامات</li>
            <li>معبد الكرنك</li>
            <li>معبد ادفو</li>
            <li>معبد الفيلة</li>
            <li>عرض ابوسمبل</li>
            <li>عرض الواقع الافتراضي</li>
            <li>عرض قلعة قايتباي</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="links grid-item">
          <h3>روابط</h3>

          <ul class="links-list">
            <li><a href="#">مشاريع الاضاءة</a></li>
            <li><a href="#">حفلات</a></li>
            <li><a href="#">سياسة الالغاء</a></li>
            <li><a href="#">الاسئلة الشائعة</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="contact grid-item">
          <h3>تواصل معنا</h3>

          <ul class="contact-list">
            <li>
              <div class="list-box">
                <i class="fa-solid fa-location-dot"></i>
                <p>ميدان ابو الهول - نزلة السمان الاهرامات - الجيزه - مصر</p>
              </div>
            </li>
            <li>
              <div class="list-box">
                <i class="fa-solid fa-envelope-open-text"></i>
                <p>support@soundandlight.show</p>
              </div>
            </li>
            <li>
              <div class="list-box">
                <i class="fa-solid fa-phone"></i>
                <p>+201553113161</p>
              </div>
            </li>
          </ul>

          <div class="contact-list-icons mt-5">
            <ul>
              <li>
                <img src="./assets/images/icons/facebook.png" alt="youtube" />
              </li>
              <li>
                <img
                  src="./assets/images/icons/instagram.png"
                  alt="instagram"
                />
              </li>
              <li>
                <img src="./assets/images/icons/linkedin.png" alt="linkedin" />
              </li>
              <li>
                <img src="./assets/images/icons/twitter.png" alt="youtube" />
              </li>
              <li>
                <img src="./assets/images/icons/youtube.png" alt="youtube" />
              </li>
            </ul>
            <p>
              نحن نقبل :
              <img src="./assets/images/icons/visa.png" alt="visa" />
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="footer-copy mt-5">
      <div class="copy--right">
        <p>
          <span class="lighter"> جميع الحقوق محفوظة &copy; 2024 </span>
          <span>مصر للصوت و الضوء</span>
        </p>

        <p>
          <span class="lighter"> تصميم و برمجة </span>
          <span>خبراء الديجيتال</span>
        </p>
      </div>
    </div>
  </div>
</footer>
