@use "../../styles/variables" as *;

footer {
  padding: 4.8rem 0;

  .footer-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    color: #fff;

    h3 {
      font-size: 3.2rem;
      margin-bottom: 1.8rem;
    }

    .about-us {
      &-content {
        font-size: 1.8rem;
      }

      .more {
        color: #fff;
        font-size: 1.2rem;
        text-decoration: none;
        color: $footerSecondary;
      }
    }

    .offers {
      &-list {
        li {
          font-size: 2rem;
          margin-bottom: 1.2rem;
          transition: all 0.5s ease-in-out;
          cursor: pointer;
          &:hover {
            color: $footerSecondary;
          }
        }
      }
    }

    .links {
      &-list {
        li {
          font-size: 2rem;
          margin-bottom: 1.2rem;
          a {
            color: #fff;
            text-decoration: none;
            transition: all 0.5s ease-in-out;
            &:hover {
              color: $footerSecondary;
            }
          }
        }
      }
    }
  }
}
