<footer>
  <div class="container">
    <div class="footer-container">
      <div class="about-us">
        <h3>من نحن</h3>

        <p class="about-us-content">
          شركة مصر للصوت والضوء و التنميه السياحية هي شركة عالميه تقدم عروض
          الصوت والضوء في مختلف المواقع المصرية الأثرية المختلفة مثل (اهرامات
          الجيزه ,معبد الكرنك بالأقصر ، معبد فيلة باسوان (معبد أبو سمبل باسوان و
          معبد الاله حورس بإدفو
        </p>

        <a href="#" class="more">المزيد ...</a>
      </div>

      <div class="offers">
        <h3>عروضنا</h3>

        <ul class="offers-list">
          <li>عرض الاهرامات</li>
          <li>معبد الكرنك</li>
          <li>معبد ادفو</li>
          <li>معبد الفيلة</li>
          <li>عرض ابوسمبل</li>
          <li>عرض الواقع الافتراضي</li>
          <li>عرض قلعة قايتباي</li>
        </ul>
      </div>

      <div class="links">
        <h3>روابط</h3>

        <ul class="links-list">
          <li><a href="#">مشاريع الاضاءة</a></li>
          <li><a href="#">حفلات</a></li>
          <li><a href="#">سياسة الالغاء</a></li>
          <li><a href="#">الاسئلة الشائعة</a></li>
        </ul>
      </div>
      <div class="contact">
        <h3>تواصل معنا</h3>
      </div>
    </div>
  </div>
</footer>
