@use "../../styles/variables" as *;

footer {
  padding: 4.8rem 0;

  .footer-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
    gap: 1.2rem;
    color: #fff;

    h3 {
      font-size: 3.2rem;
      margin-bottom: 1.8rem;
    }

    .about-us {
      &-content {
        font-size: 1.2rem;
      }

      .more {
        color: #fff;
        font-size: 1.2rem;
        text-decoration: none;
        color: $footerSecondary;
      }
    }

    .offers {
      &-list {
        li {
          font-size: 1.2rem;
          margin-bottom: 1.2rem;
          transition: all 0.5s ease-in-out;
          cursor: pointer;
          &:hover {
            color: $footerSecondary;
          }
        }
      }
    }

    .links {
      &-list {
        li {
          font-size: 1.2rem;
          margin-bottom: 1.2rem;
          a {
            color: #fff;
            text-decoration: none;
            transition: all 0.5s ease-in-out;
            &:hover {
              color: $footerSecondary;
            }
          }
        }
      }
    }

    .contact-list {
      li {
        margin-bottom: 1.8rem;
        .list-box {
          height: 1.2rem;
          display: flex;
          align-items: center;
          gap: 1rem;
          i {
            color: $footerIconColor;
            font-size: 1.8rem;
          }
          p {
            margin: 0;
          }
        }
        font-size: 1.2rem;
      }
    }
  }
}

.contact-list-icons {
  ul {
    display: flex;
    gap: 1.2rem;
  }
}

.footer-copy {
  color: #fff;
  font-size: 1.2rem;

  .copy--right {
    display: flex;
    justify-content: space-around;
    p {
      .lighter {
        color: $footerSecondary;
      }
    }
  }
}

@media (max-width: 62em) {
  .footer-container {
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 3rem !important;
  }
}

@media (max-width: 38em) {
  .footer-container {
    grid-template-columns: 1fr 1fr !important;
  }

  .footer-container {
    .grid-item:first-child {
      grid-column: span 2;
    }
  }

  .copy--right {
    flex-direction: column;
  }
}
