<section class="about-details mr-top">
  <div class="container">
    <div class="about-details-content">
      <div class="about-details-content-details">
        <ul class="about-list">
          <li class="about-list-item" (click)="toggleText($event, 0)">
            <h3 class="details-title">المهام و الرؤية</h3>
            <p
              class="about-list-item-text show-text"
              [class.show-text]="showTextIndex === 0"
            >
              رؤيتنا في شعار شركة مصر للصوت والضوء هو أن مصر رائدة في مجال
              الآثار ويجب أن تظهر روعتها للعالم بأسره. أهدافنا من اهم أهداف شركة
              مصر للصوت والضوء هو ان تضيء معالم مصر القديمة لتقديم سحرها عبر
              العصور.
            </p>
          </li>

          <li class="about-list-item" (click)="toggleText($event, 1)">
            <h3 class="details-title">خطاب الترحيب</h3>
            <p
              class="about-list-item-text"
              [class.show-text]="showTextIndex === 1"
            >
              دعونا نرحب بكم في شركة مصر للصوت والضوء، وهي مكرسة لعرض صورة فنية
              للآثار والمعالم المصرية ليلاً، باستخدام وسائل الضوء ودعم الصوت
              سواء كانت مصحوبة بالتعليقات أو الموسيقى. على مدار الخمسين عامًا
              الماضية، وهي فترة حياة الشركة، يتم تنظيم عروض الصوت والضوء يوميًا
              على حدود الهرم الأكبر وأمام أبو الهول الكبير، وكذلك في معابد
              الكرنك، وفيلة وأبو سمبل، و يحضرها أكثر من 800 ألف سائح سنويًا ،
              وتم إنشاء مواقع جديدة معبد إدفو الشهير . تعمل الشركة الان على
              إضاءة معالم مصر،وذلك لكونها ذات خبرة دولية في مشاريع الإضاءة وذلك
              لكونها ذات خبرة دولية في مشاريع الإضاءة مثل ميدان ميدان التحرير و
              مثلالبر الغربي الأقصر، قلعة صلاح الدين بالقاهره وشارع المعز
              بالقاهرة ، جسر أسوان المعلق ، منطقة المعمورة في الإسكندرية والعديد
              من المناطق الأخرى في جميع أنحاء مصر، . ونحن الان في طريقنا
              لاستكمال نجاحنا في كل المشاريع المستقبليه ، علماً بأننا حريصون على
              الاستفادة من الأدوات و الوسائل والمعدات الدولية الحديثة، التي تمثل
              صورة مضيئة لجعل المصريين والسياح الذين يتمتعون بها في مصر. الآن،
              ندعوكم لإكمال زيارتك لنا على موقع الشركة على الإنترنت. مع تحياتي
              رئيس مجلس إدارة الصوت والضوء مهندس / وعد الله محمد أبو العلا
            </p>
          </li>
          <li class="about-list-item" (click)="toggleText($event, 2)">
            <h3 class="details-title">مجلس الادارة</h3>
            <p
              class="about-list-item-text"
              [class.show-text]="showTextIndex === 2"
            >
              نحن شركة مساهمة تابعة للشركة القابضة للسياحة والفنادق والسينما
              وذات راس مال مملوك بالكامل للشركة القابضة التابعة لوزارة قطاع
              الاعمال . :معلومات عن مجلس إدارة الشركة و اسمآء الساده اعَضاء مجلس
              الادارة رئيس مجلس الإدارة - مهندس / وعد الله محمد أبو العلا العضو
              المنتدب التنفيذي - الاستاذ / محمد عبد العزيز جوده السيد عضو مجلس
              الإدارة غير متفرغ - الاستاذ / أحمس محمد ربيع عضو مجلس الإدارة غير
              متفرغ - دكتورة / نهال حسن على عضو مجلس الإدارة - عميد مهندس / محمد
              البربري تقوم الشركة ببرامج وخطط تدريب الموظفين ورعايتهم وأسرهم
              نظرًا لاهتمام الشركة برأس المال البشري وأهميته في دفع وتطوير
              الشركة. رفعت الشركة ميزانية التدريب لتدريب أكبر عدد من الموظفين في
              المجالات التالية: تنمية المهارات القيادية وأسس الإدارة الحديثة (
              تطوير مهارات التخصص الوظيفي مثل (التسويق ، الهندسة ، المالية ،
              الإدارة ، التخطيط والقانون) تدريب بعض الموظفين وفقًا لأحكام
              القوانين المنظمة مثل (الدفاع المدني ، الحريق ، الأمن الصناعي) ،
              التوجيه المهني ، الوقاية من الأمراض المعدية والمسؤوليات الاجتماعية
              للشركة - اهتمام الشركة بالمشاركة في الندوات والمؤتمرات الخارجية
              وخاصة في مجال نشاط الشركة وغيرها من الأنشطة مثل التسويق الإلكتروني
              والهندسي - مساهمة الشركة بنسبة 75٪ من نفقات التعليم المفتوح والتي
              تعد واحدة من أساليب التدريب العلمي المنتظم وتزويدها إلى مستوى
              الدراسات العليا في مجال الرعاية الصحية: توقيع عقود مع مستشفيات
              مهنية عالية لعلاج الموظفين وتحمل الشركة الحصة الأكبر في تكاليف
              العلاج بالإضافة إلى مشاركتهم في التأمين الصحي الحكومي تنظيم
              الرحلات الترفيهية للعاملين لدعم البعد الاجتماعي وعنصر الصداقة
              بينهم وبين عائلاتهم - أعمال الشركة في مجال خدمة المجتمع مثل وحدات
              الرعاية الصحية والأندية الرياضية ومراكز التدريب تشجيع الرياضة من
              خلال إقامة المسابقات من خلال تشكيل فريق من الموظفين وهناك مسابقات
              على مستوى المحافظة قامت اللجنة الرياضية بشراء شقق منتجع للعاملين
              في مرسى مطروح ، الإسكندرية ، رأس البر بقيمة مشاركة رمزية لهم
              ولأسرهم خلق بيئة صحية خالية من المخاطر لسلامة الموظفين خلال فترة
              العمل توفير وسائل النقل للعاملين من أقرب مكان إلى مكان إقامتهم
              للشركة والعكس تقديم القروض للموظفين إذا احتاجوا إليها ، وهناك
              أيضًا مؤسسة مساعدة لشراء الآلات وتزويدهم بالاقساط وبدون فوائد وضع
              بوالص التأمين وصناديق الموظفين وتطويرها بشكل مستمر
            </p>
          </li>

          <li class="about-list-item" (click)="toggleText($event, 3)">
            <h3 class="details-title">استثمار</h3>
            <p
              class="about-list-item-text"
              [class.show-text]="showTextIndex === 3"
            >
              مشروع الصوت والضوء المنتظر في الغردقة
              https://soundandlight.show/s_and_l_projects.pdf
            </p>
          </li>

          <li class="about-list-item" (click)="toggleText($event, 4)">
            <h3 class="details-title">مؤشرات</h3>
            <p
              class="about-list-item-text"
              [class.show-text]="showTextIndex === 4"
            >
              نحن شركة مساهمة تابعة للشركة القابضة للسياحة والفنادق والسينما
              وذات راس مال مملوك بالكامل للشركة القابضة التابعة لوزارة قطاع
              الاعمال . :معلومات عن مجلس إدارة الشركة و اسمآء الساده اعَضاء مجلس
              الادارة رئيس مجلس الإدارة - مهندس / وعد الله محمد أبو العلا العضو
              المنتدب التنفيذي - الاستاذ / محمد عبد العزيز جوده السيد عضو مجلس
              الإدارة غير متفرغ - الاستاذ / أحمس محمد ربيع عضو مجلس الإدارة غير
              متفرغ - دكتورة / نهال حسن على عضو مجلس الإدارة - عميد مهندس / محمد
              البربري تقوم الشركة ببرامج وخطط تدريب الموظفين ورعايتهم وأسرهم
              نظرًا لاهتمام الشركة برأس المال البشري وأهميته في دفع وتطوير
              الشركة. رفعت الشركة ميزانية التدريب لتدريب أكبر عدد من الموظفين في
              المجالات التالية: تنمية المهارات القيادية وأسس الإدارة الحديثة (
              تطوير مهارات التخصص الوظيفي مثل (التسويق ، الهندسة ، المالية ،
              الإدارة ، التخطيط والقانون) تدريب بعض الموظفين وفقًا لأحكام
              القوانين المنظمة مثل (الدفاع المدني ، الحريق ، الأمن الصناعي) ،
              التوجيه المهني ، الوقاية من الأمراض المعدية والمسؤوليات الاجتماعية
              للشركة - اهتمام الشركة بالمشاركة في الندوات والمؤتمرات الخارجية
              وخاصة في مجال نشاط الشركة وغيرها من الأنشطة مثل التسويق الإلكتروني
              والهندسي - مساهمة الشركة بنسبة 75٪ من نفقات التعليم المفتوح والتي
              تعد واحدة من أساليب التدريب العلمي المنتظم وتزويدها إلى مستوى
              الدراسات العليا في مجال الرعاية الصحية: توقيع عقود مع مستشفيات
              مهنية عالية لعلاج الموظفين وتحمل الشركة الحصة الأكبر في تكاليف
              العلاج بالإضافة إلى مشاركتهم في التأمين الصحي الحكومي تنظيم
              الرحلات الترفيهية للعاملين لدعم البعد الاجتماعي وعنصر الصداقة
              بينهم وبين عائلاتهم - أعمال الشركة في مجال خدمة المجتمع مثل وحدات
              الرعاية الصحية والأندية الرياضية ومراكز التدريب تشجيع الرياضة من
              خلال إقامة المسابقات من خلال تشكيل فريق من الموظفين وهناك مسابقات
              على مستوى المحافظة قامت اللجنة الرياضية بشراء شقق منتجع للعاملين
              في مرسى مطروح ، الإسكندرية ، رأس البر بقيمة مشاركة رمزية لهم
              ولأسرهم خلق بيئة صحية خالية من المخاطر لسلامة الموظفين خلال فترة
              العمل توفير وسائل النقل للعاملين من أقرب مكان إلى مكان إقامتهم
              للشركة والعكس تقديم القروض للموظفين إذا احتاجوا إليها ، وهناك
              أيضًا مؤسسة مساعدة لشراء الآلات وتزويدهم بالاقساط وبدون فوائد وضع
              بوالص التأمين وصناديق الموظفين وتطويرها بشكل مستمر
            </p>
          </li>
        </ul>
      </div>
      <!-- <div class="about-details-content-img">
        <img src="./assets/images/third-thotmos.png" alt="third-thotmos" />
      </div> -->
    </div>
  </div>
</section>

<app-divider></app-divider>
