<section class="about-details mr-top">
  <div class="container">
    <div class="about-details-content">
      <div class="about-details-content-details">
        <ul class="about-list">
          <li class="about-list-item" (click)="toggleText($event, 0)">
            <h3 class="details-title">المهام و الرؤية</h3>
            <p
              class="about-list-item-text show-text"
              [class.show-text]="showTextIndex === 0"
            >
              رؤيتنا في شعار شركة مصر للصوت والضوء هو أن مصر رائدة في مجال
              الآثار ويجب أن تظهر روعتها للعالم بأسره. أهدافنا من اهم أهداف شركة
              مصر للصوت والضوء هو ان تضيء معالم مصر القديمة لتقديم سحرها عبر
              العصور.
            </p>
          </li>

          <li class="about-list-item" (click)="toggleText($event, 1)">
            <h3 class="details-title">خطاب الترحيب</h3>
            <p
              class="about-list-item-text"
              [class.show-text]="showTextIndex === 1"
            >
              رؤيتنا في شعار شركة مصر للصوت والضوء هو أن مصر رائدة في مجال
              الآثار ويجب أن تظهر روعتها للعالم بأسره. أهدافنا من اهم أهداف شركة
              مصر للصوت والضوء هو ان تضيء معالم مصر القديمة لتقديم سحرها عبر
              العصور.
            </p>
          </li>
          <li class="about-list-item" (click)="toggleText($event, 2)">
            <h3 class="details-title">مجلس الادارة</h3>
            <p
              class="about-list-item-text"
              [class.show-text]="showTextIndex === 2"
            >
              رؤيتنا في شعار شركة مصر للصوت والضوء هو أن مصر رائدة في مجال
              الآثار ويجب أن تظهر روعتها للعالم بأسره. أهدافنا من اهم أهداف شركة
              مصر للصوت والضوء هو ان تضيء معالم مصر القديمة لتقديم سحرها عبر
              العصور.
            </p>
          </li>

          <li class="about-list-item" (click)="toggleText($event, 3)">
            <h3 class="details-title">استثمار</h3>
            <p
              class="about-list-item-text"
              [class.show-text]="showTextIndex === 3"
            >
              رؤيتنا في شعار شركة مصر للصوت والضوء هو أن مصر رائدة في مجال
              الآثار ويجب أن تظهر روعتها للعالم بأسره. أهدافنا من اهم أهداف شركة
              مصر للصوت والضوء هو ان تضيء معالم مصر القديمة لتقديم سحرها عبر
              العصور.
            </p>
          </li>

          <li class="about-list-item" (click)="toggleText($event, 4)">
            <h3 class="details-title">مؤشرات</h3>
            <p
              class="about-list-item-text"
              [class.show-text]="showTextIndex === 4"
            >
              رؤيتنا في شعار شركة مصر للصوت والضوء هو أن مصر رائدة في مجال
              الآثار ويجب أن تظهر روعتها للعالم بأسره. أهدافنا من اهم أهداف شركة
              مصر للصوت والضوء هو ان تضيء معالم مصر القديمة لتقديم سحرها عبر
              العصور.
            </p>
          </li>
        </ul>
      </div>
      <div class="about-details-content-img">
        <img src="./assets/images/third-thotmos.png" alt="third-thotmos" />
      </div>
    </div>
  </div>
</section>

<app-divider></app-divider>
