<section class="show-info mr-top">
  <div class="container">
    <div class="show-info-header">
      <h3>عرض الكرنك</h3>
      <div class="show-info-header-location">
        <img src="./assets/images/contact/location.png" alt="location" />
        <span>الاقصر</span>
      </div>
    </div>

    <div class="show-info-text">
      <p>
        إحجز تذكرتك لتستمتع بتفاصيل التاريخ القديم يُحكي لك في أكبر متحف مفتوح
        في العالم.
      </p>
      <p>
        تذكرة الصوت والضوء تصحبك إلى طيبة العاصمة القديمة، فتتجول بين طرقاتها
        العتيقة؛ تنصت لتفاصيلها الصاخبة بينما نسردها لك تفصيلة تلو الأخرى.
        عروضنا تقرأ لك فصولاً عددها الآلاف؛ لتتهادى بين سطورها، فهذا إلاهاً
        تواضع بين البشر فأهانوه! وهذه مدينة شيدها القدماء بعقولهم! لم سُميت بـ
        "طيبة"؟ ولم تحوي ثلث أثار العالم؟
      </p>
      <p>
        في عرض الصوت والضوء بمعبد الكرنك، نطلعك على أسرار الماضي. نأخذك لزيارة
        السحر حيثما نشأ؛ فتجده حولك مؤلفاً على الجدران لينتشلك من الواقع في
        ساعة! ثم يضعك أرضاً بهوادة تتدارك بعدها كم حالفك الحظ بالحضور!
      </p>

      <p>إحجز الآن وإختر من بين عروضنا ما يناسبك.</p>
    </div>

    <div class="show-info-alert mt-5">
      <ul class="show-info-alert-list">
        <li class="show-info-alert-list-item">
          <i class="fa-solid fa-exclamation alert-icon"></i>
          <p>في حالة إقامة عرض ثاني، يكون بحد أدنى لـ 30 سياح.</p>
        </li>
        <li class="show-info-alert-list-item">
          <i class="fa-solid fa-exclamation alert-icon"></i>
          <p>
            تقام العروض بدون حد ادني في حالة وجود حجز الكتروني مسبق من خلال موقع
            الشركة و ذلك حرصا علي مصداقية الشركة مع العملاء.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
