// @use "../../styles/variables" as *;

// .citadel-container {
//   position: relative;
//   .citadel-container-content {
//     color: #fff;
//     // position: absolute;
//     // transform: translateX(-100px);
//   }
// }

// h2 {
//   font-size: 4.4rem;
// }

// p {
//   font-size: 2rem;
//   // font-weight: 700;
//   margin-top: 4.2rem;
//   line-height: 1.4;
// }

// .btns {
//   display: flex;
//   gap: 3.2rem;
//   margin-top: 3.2rem;
// }

// /**/

// .box {
//   position: relative;
//   .img-box {
//     width: 80%;
//     margin-right: auto;
//     // transform: translateY(-300px);
//     position: relative;
//     top: -40rem;
//     img {
//       width: 100%;
//     }
//   }

//   .box-content {
//     position: absolute;
//     color: #fff;
//     width: 40%;
//     top: 0;
//     right: 0;
//     transform: translateX(-100px);
//   }

//   .light-projects {
//     position: relative;
//     margin-top: 3rem;
//     &-title {
//       position: absolute;
//       font-size: 2.4rem;
//       top: 10%;
//       left: 50%;
//       transform: translateX(-50%);
//     }
//   }
//   .parties {
//     border: 1px solid #fff;
//     border-radius: 10px;
//     text-align: center;
//     margin-top: 3rem;
//     padding: 2rem 4rem;
//     h3 {
//       font-size: 2.4rem;
//     }

//     p {
//       font-size: 1.8rem;
//     }
//   }
// }

// .box {
//   display: grid;
//   grid-template-columns: 1.5fr 1.5fr;
//   color: #fff;
//   height: 75rem;
// }

// .img-box {
//   position: relative;
//   top: -25rem;
// }

// .box-content {
//   transform: translateX(-100px);
//   margin-top: 4rem;
//   h2 {
//     font-size: 4.4rem;
//   }

//   p {
//     font-size: 2rem;
//     line-height: 1.4;
//   }
// }

// .light-projects {
//   position: relative;
//   margin-top: 1.8rem;
//   &::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0, 0, 0, 0.5);
//     transition: all 0.5s ease-in-out;

//     opacity: 0;
//   }

//   &:hover {
//     &::before {
//       opacity: 1;
//     }
//   }

//   &-container {
//     position: absolute;
//     top: 0;
//     left: 50%;
//     width: 100%;
//     text-align: center;
//     transform: translateX(-50%);
//     margin-top: 1.2rem;
//     img {
//       &::hover {
//         .light-projects-container {
//           p {
//             opacity: 1;
//           }
//         }
//       }
//     }
//     h3 {
//       font-size: 2rem;
//     }

//     p,
//     a {
//       opacity: 0;
//       transition: all 0.5s ease-in-out;
//     }

//     a {
//       font-size: 1.8rem;
//     }
//   }

//   &:hover {
//     .light-projects-container {
//       p,
//       a {
//         opacity: 1;
//       }
//     }
//   }
// }

// .box-content-text {
//   font-size: 1.8rem;
//   margin-top: 4.2rem;
//   line-height: 1.4;
// }

// .light-projects-content {
//   padding: 0 1.5rem;
// }

// @media (max-width: 75em) {
//   p.light-projects-content {
//     font-size: 1.5rem !important;
//   }
// }

// @media (max-width: 70em) {
//   .img-box {
//     top: -22rem;
//   }
// }

// @media (max-width: 67em) {
//   .box-content {
//     position: relative;
//     h2 {
//       font-size: 4rem;
//     }
//   }
// }

// @media (max-width: 62em) {
//   .light-projects-container {
//     width: 100% !important;
//   }
//   .img-box {
//     display: none;
//   }

//   .box {
//     grid-template-columns: 1fr;
//     height: auto;
//   }

//   .box-content {
//     transform: translateX(0);
//   }

//   .light-container {
//     display: flex;
//     justify-content: space-between;
//     gap: 2rem;
//     padding: 0 1rem;

//     p {
//       font-size: 1.2rem !important;
//     }

//     .btn--full {
//       font-size: 1rem;
//     }
//   }
// }

// @media (max-width: 48em) {
//   .light-projects-container {
//     width: 100% !important;
//   }
//   h3 {
//     font-size: 3rem !important;
//   }

//   .light-container {
//     flex-direction: column;
//     p {
//       font-size: 1.8rem !important;
//       margin-top: 2.2rem !important;
//     }
//   }
// }

// @media (max-width: 30em) {
//   h3 {
//     font-size: 2rem !important;
//   }

//   .light-container {
//     flex-direction: column;
//     p {
//       font-size: 1.5rem !important;
//       margin-top: 2.2rem !important;
//     }
//   }
// }

// @media (max-width: 27em) {
//   .light-projects-container {
//     width: 100% !important;
//   }

//   h2 {
//     font-size: 3.2rem !important;
//   }

//   h3 {
//     font-size: 2rem !important;
//   }

//   .light-container {
//     flex-direction: column;
//     p {
//       font-size: 1.2rem !important;
//       margin-top: 1rem !important;
//     }
//   }

//   .btn--full {
//     font-size: 1rem !important;
//   }
// }

// @media (max-width: 23em) {
//   .light-projects-container {
//     width: 100% !important;
//   }

//   .light-container {
//     flex-direction: column;
//     p {
//       font-size: 1rem !important;
//       margin-top: 0.5rem !important;
//     }
//   }
// }

// @media (max-width: 22em) {
//   .light-container {
//     flex-direction: column;
//     p {
//       font-size: 1rem !important;
//       margin-top: 0.5rem !important;
//     }
//   }
// }

.citadel-content-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #fff;

  .citadel-parent {
    position: relative;
    top: 0;
    right: 0;
    // width: 60%;
    transform: translateX(-100px);
    margin-top: 5rem;
    .citadel-content {
      h2 {
        font-size: 4.4rem;
      }

      p {
        font-size: 2rem;
        margin-top: 4.2rem;
        line-height: 1.4;
      }
    }
  }

  .img-box {
    position: relative;
    top: -5%;
    left: 0;
    z-index: -1;
  }
}

.citadel-show-container {
  margin-top: 4rem;
  // position: relative;
  // .overlay {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   width: 100%;
  //   height: 100%;
  //   background: rgba(0, 0, 0, 0.3);
  //   z-index: 9;
  // }
}
.citadel-show {
  position: relative;

  &-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;

    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      transition: all 0.5 ease-in;
    }
    h3 {
      font-size: 3.2rem;
    }
    p {
      font-size: 2.2rem;
      padding: 0 1rem;
    }

    .read-more-btn,
    p {
      transition: all 1 ease;
      opacity: 0;
      visibility: hidden;
    }

    &:hover {
      .overlay {
        background: rgba(0, 0, 0, 0.5);
      }
      .read-more-btn,
      p {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

@media (max-width: 62em) {
  .img-box {
    display: none;
  }

  .citadel-content-container {
    display: block;
  }

  .citadel-parent {
    transform: translateX(0) !important;
  }

  .citadel-show-container {
    display: flex;
    gap: 2rem;
  }

  .citadel-show {
    .show-title {
      font-size: 1.8rem;
    }

    p {
      font-size: 1rem;
    }
    .btn--full {
      font-size: 1rem;
    }
  }

  .party-container {
    margin-top: 0 !important;
  }
}

.party-container {
  margin-top: 2rem;
}

@media (max-width: 48em) {
  .citadel-content {
    h2 {
      font-size: 3.2rem !important;
    }

    p {
      font-size: 2rem !important;
    }
  }

  .citadel-show {
    .show-title {
      font-size: 1.2rem;
    }

    p {
      font-size: 0.8rem;
    }
    .btn--full {
      font-size: 0.8rem;
    }
  }
}

// .divider-img {
//   transform: translateY(-50%);
//   position: relative;
//   z-index: -1;
// }

@media (max-width: 28em) {
  .citadel-show-container {
    flex-direction: column;
  }
  .citadel-show {
    .show-title {
      font-size: 1.2rem;
    }

    p {
      font-size: 1rem;
    }
    .btn--full {
      font-size: 1rem;
    }
  }
}

@media (max-width: 20em) {
  .citadel-content {
    h2 {
      font-size: 2.8rem !important;
    }
  }
}
