<section class="citadel">
  <div [ngClass]="isLargeScreen ? 'container-fluid' : 'container'">
    <div class="citadel-content-container">
      <div class="citadel-parent">
        <div class="container">
          <div class="citadel-content">
            <h2>المشاريع و الحفلات</h2>

            <p class="box-content-text">
              استعد لرحلة سحرية من الألوان والضوء .حيث تتلاقى الفنون
              والتكنولوجيا في مشاريع الإضاءة الرائعة ,تعكس هذه المشاريع التفاعل
              الفني مع الفضاء المحيط .محولة المكان إلى قطعة فنية متحركة تروي قصة
              ملهمة
            </p>
          </div>

          <div class="citadel-show-container">
            <div class="citadel-show">
              <img
                src="./assets/images/image5.png"
                class="w-100"
                alt="colorfull image"
              />

              <div class="citadel-show-content">
                <div class="overlay">
                  <h3 class="show-title">مشاريع الاضاءه</h3>
                  <p>
                    تقوم شركة صوت والضوء, بتنفيذ مشاريع الاضاءة للآخرين; احدى
                    مشاريعها هو اضاءة شارع المعز وقلعة صلاح الدين.
                  </p>
                  <div class="read-more-btn">
                    <a class="btn--full" href="#"> اقرأ المزيد </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="citadel-show party-container">
              <img
                src="./assets/images/parties.png"
                class="w-100"
                alt="colorfull image"
              />

              <div class="citadel-show-content">
                <div class="overlay">
                  <h3 class="show-title">حفلات</h3>
                  <p>
                    تتيح شركة مصر للصوت والضوء والتنمية السياحية استضافة الحفلات
                    والفعاليات في مواقع العروض.
                  </p>
                  <div class="read-more-btn">
                    <a class="btn--full" href="#"> اقرأ المزيد </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="img-box">
        <img src="./assets/images/toot3.png" class="w-100" alt="toot" />
      </div>
    </div>
  </div>
</section>
<app-divider></app-divider>
