<!-- <section class="projects">
  <div class="container-fluid">
    <div class="projects-container grid grid--template--2">
      <div class="projects-container-content">
        <h2>عرض الواقع الافتراضي</h2>
        <p>
          استمتع برحلة استثنائية إلى مصر القديمة من خلال عرض الواقع الافتراضي
          .حيث تأخذك تقنية الواقع الافتراضي إلى أبعد حدود الزمان والمكان ارتدي
          نظارة الواقع الافتراضي واستعد لاستكشاف العجائب التاريخية .في واحدة من
          أكثر الأماكن إثارة في العالم
        </p>
      </div>

      <div class="project-container-img">
        <img src="./assets/images/toot2.png" class="w-100" alt="toot" />
      </div>
    </div>
  </div>
</section> -->

<section class="citadel">
  <div class="container-fluid">
    <div class="citadel-content">
      <div class="box">
        <div class="img-box">
          <img src="./assets/images/toot2.png" alt="toot" />
        </div>

        <div class="box-content mt-5">
          <h2>المشاريع و الحفلات</h2>

          <p>
            ,استعد لرحلة سحرية من الألوان والضوء <br />
            .حيث تتلاقى الفنون والتكنولوجيا في مشاريع الإضاءة الرائعة ,تعكس هذه
            المشاريع التفاعل الفني مع الفضاء المحيط<br />
            .محولة المكان إلى قطعة فنية متحركة تروي قصة ملهمة
          </p>

          <div class="light-projects">
            <img src="./assets/images/image5.png" class="w-100" alt="light" />
            <h3 class="light-projects-title">مشاريع الاضاءة</h3>
          </div>
          <div class="parties">
            <h3>حفلات</h3>
            <p>
              هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة ...لقد تم توليد
              هذا النص من مولد النص العربى
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <app-divider></app-divider> -->
</section>

<app-divider></app-divider>
