<section class="citadel">
  <div class="container-fluid">
    <div class="citadel-content">
      <div class="box">
        <div class="box-content">
          <h2>المشاريع و الحفلات</h2>

          <p class="box-content-text">
            استعد لرحلة سحرية من الألوان والضوء .حيث تتلاقى الفنون والتكنولوجيا
            في مشاريع الإضاءة الرائعة ,تعكس هذه المشاريع التفاعل الفني مع الفضاء
            المحيط .محولة المكان إلى قطعة فنية متحركة تروي قصة ملهمة
          </p>

          <div class="light-container">
            <div class="light-projects">
              <img src="./assets/images/image5.png" class="w-100" alt="light" />
              <div class="light-projects-container">
                <h3 class="light-projects-title">مشاريع الاضاءة</h3>
                <p class="light-projects-content">
                  تقوم شركة صوت والضوء, بتنفيذ مشاريع الاضاءة للآخرين .احدى
                  مشاريعها هو اضاءة شارع المعز وقلعة صلاح الدين
                </p>

                <a class="btn--full" href="#"> اقرأ المزيد </a>
              </div>
            </div>

            <div class="light-projects">
              <img src="./assets/images/image5.png" class="w-100" alt="light" />
              <div class="light-projects-container">
                <h3 class="light-projects-title">مشاريع الاضاءة</h3>
                <p class="light-projects-content">
                  تقوم شركة صوت والضوء, بتنفيذ مشاريع الاضاءة للآخرين .احدى
                  مشاريعها هو اضاءة شارع المعز وقلعة صلاح الدين
                </p>

                <a class="btn--full" href="#"> اقرأ المزيد </a>
              </div>
            </div>
          </div>
          <!-- <div class="parties">
            <h3>حفلات</h3>
            <p>
              هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة ...لقد تم توليد
              هذا النص من مولد النص العربى
            </p>
          </div> -->
        </div>

        <div class="img-box">
          <img src="./assets/images/toot2.png" class="w-100" alt="toot" />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="citadel">
  <div class="container-fluid">
    <div class="citadel-content">
      <div class="box">
        <div class="img-box">
          <img src="./assets/images/toot2.png" alt="toot" />
        </div>

        <div class="box-content mt-5">
          <h2>المشاريع و الحفلات</h2>

          <p>
            ,استعد لرحلة سحرية من الألوان والضوء <br />
            .حيث تتلاقى الفنون والتكنولوجيا في مشاريع الإضاءة الرائعة ,تعكس هذه
            المشاريع التفاعل الفني مع الفضاء المحيط<br />
            .محولة المكان إلى قطعة فنية متحركة تروي قصة ملهمة
          </p>

          <div class="light-projects">
            <img src="./assets/images/image5.png" class="w-100" alt="light" />
            <h3 class="light-projects-title">مشاريع الاضاءة</h3>
          </div>
          <div class="parties">
            <h3>حفلات</h3>
            <p>
              هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة ...لقد تم توليد
              هذا النص من مولد النص العربى
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<app-divider></app-divider>
