<!-- <section class="citadel">
  <div class="container-fluid">
    <div class="citadel-container d-flex">
      <div class="citadel-container-content">
        <h2>عرض قلعة قايتباي</h2>

        <p>
          استعد لاستكشاف جمال التاريخ المصري العريق من خلال عيون الإضاءة والصوت
          في عرض قلعة قايتباي. احجز تذكرتك لتنطلق في رحلة سحرية , تأخذك عبر
          الزمن .حيث تتجلى قصص الماضي بألوان رائعة وأصوات مذهلة
        </p>

        <div class="btns">
          <a class="btn--full" href="#"> احجز الان </a>
          <a class="btn--full" href="#"> اقرأ المزيد </a>
        </div>
      </div>

      <div class="citadel-container-image">
        <img src="./assets/images/citadel.png" class="w-100" alt="" />
      </div>
    </div>
  </div>
</section> -->

<section class="citadel">
  <div [ngClass]="isLargeScreen ? 'container-fluid' : 'container'">
    <div class="citadel-content">
      <div class="box">
        <div class="img-box">
          <img src="./assets/images/citadel.png" alt="" />
        </div>
        <img src="./assets/images/divider.png" class="w-100 divider" alt="" />

        <div class="box-content">
          <h2>عرض قلعة قايتباي</h2>

          <p>
            استعد لاستكشاف جمال التاريخ المصري العريق <br />
            من خلال عيون الإضاءة والصوت في عرض قلعة قايتباي. احجز تذكرتك لتنطلق
            في رحلة سحرية ,<br />
            تأخذك عبر الزمن .حيث تتجلى قصص الماضي بألوان رائعة وأصوات مذهلة
          </p>

          <div class="btns">
            <a class="btn--full" href="#"> احجز الان </a>
            <a class="btn--full" href="#"> اقرأ المزيد </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <app-divider></app-divider> -->
</section>
