@use "../../styles/variables" as *;

// .citadel {
//   position: relative;
//   .divider {
//     position: absolute;
//     bottom: 0px;
//     left: 0;
//     z-index: -1;
//   }
// }

.citadel-container {
  position: relative;
  .citadel-container-content {
    color: #fff;
    // position: absolute;
    // transform: translateX(-100px);
  }
}

h2 {
  font-size: 4.4rem;
}

p {
  font-size: 2rem;
  // font-weight: 700;
  margin-top: 4.2rem;
  line-height: 1.4;
}

.btns {
  display: flex;
  gap: 3.2rem;
  margin-top: 3.2rem;
}

/**/

.box {
  position: relative;
  .img-box {
    width: 60%;
    margin-right: auto;
    img {
      width: 100%;
    }
  }
  .divider {
    position: absolute;
    bottom: -45px;
    left: 0;
    width: 100%;
    z-index: -1;
  }
  .box-content {
    position: absolute;
    color: #fff;
    width: 60%;
    top: 0;
    right: 0;
    transform: translateX(-100px);
  }
}

@media (max-width: 75em) {
  .divider {
    bottom: -40px !important;
  }
}

@media (max-width: 66em) {
  .divider {
    bottom: -35px !important;
  }
}

@media (max-width: 58em) {
  .divider {
    bottom: -30px !important;
  }
}

@media (max-width: 58em) {
  .box-content {
    width: 80% !important;
    transform: translateX(0) !important;
    padding: 1.2rem 0;
    position: relative !important;
  }

  h2 {
    font-size: 3.2rem;
  }
  .divider {
    bottom: -35px !important;
  }

  .img-box {
    display: none !important;
  }
}

@media (max-width: 43em) {
  p {
    font-size: 1.8rem;
    margin-top: 1.5rem;
    line-height: 1.2;
  }
}

@media (max-width: 38em) {
  .divider {
  }
}
