<section class="virtual-reality">
  <div class="container">
    <div class="virtaul-reality-container grid grid--template--2">
      <div class="virtual-reality-container-content">
        <h2>عرض الواقع الافتراضي</h2>
        <p>
          استمتع برحلة استثنائية إلى مصر القديمة من خلال عرض الواقع الافتراضي
          .حيث تأخذك تقنية الواقع الافتراضي إلى أبعد حدود الزمان والمكان ارتدي
          نظارة الواقع الافتراضي واستعد لاستكشاف العجائب التاريخية .في واحدة من
          أكثر الأماكن إثارة في العالم
        </p>

        <div class="btns">
          <a class="btn--full" href="#"> احجز الان </a>
          <a class="btn--full" href="#"> اقرأ المزيد </a>
        </div>
      </div>

      <div class="virtual-reality-container-image">
        <img src="./assets/images/toot.png" class="w-100" alt="" />
      </div>
    </div>
  </div>
</section>
<app-divider></app-divider>
