<section class="details">
  <div class="container">
    <div class="details-main-img">
      <img src="./assets/images/tower.png" alt="" />
      <div
        *ngFor="let image of overlayImages; let i = index"
        [ngStyle]="{
          top: image.top,
          right: image.right ? image.right : 'auto',
          left: image.left ? image.left : 'auto',
          width: 'auto',
          height: image.height,
          cursor: 'pointer',
        }"
        class="overlay-image"
        (click)="openModal(image)"
      >
        <div class="overlay-content">
          <ng-container class="svg-image" *ngIf="!image.svgAfterImage">
            <img class="line" src="./assets/images/line2.png" alt="line" />
          </ng-container>
          <img [src]="image.src" [alt]="image.alt" />

          <ng-container class="svg-image" *ngIf="image.svgAfterImage">
            <img class="line" src="./assets/images/line.png" alt="line" />
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="imageModal"
    tabindex="-1"
    aria-labelledby="imageModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog custom-modal-lg">
      <div class="modal-content">
        <div class="header">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="modal-box">
            <div class="modal-box-content">
              <h5 class="modal-title" id="imageModalLabel">
                <span>عرض الاهرامات</span>
              </h5>

              <p class="modal-box-content-text">
                احجز تذكرتك في عرض الصوت والضوء لاكتشاف كنوز الماضي و التعرف على
                .إحدى عجائب الدنيا السبع يحاكي عرض الصوت والضوء قصص الأهرامات
                الثلاثة خوفو و خفرع و منكاورع و تمثال أبو الهول الذي يعد من أقدم
                .المنحوتات الضخمة في العالم
              </p>

              <div class="prices">
                <h5>
                  <span class="prices-title">الاسعار</span>
                </h5>

                <ul class="prices-list">
                  <li><span class="prices-type">عادية:</span> 80 جنيه مصري</li>
                  <li><span class="prices-type">Vip:</span> 200 جنيه مصري</li>
                  <li>
                    <span class="prices-type">طفل:</span> 45 جنيه مصري من 6 الي
                    12 سنه
                  </li>
                </ul>
              </div>

              <div class="btns">
                <a class="btn--full" href="#"> احجز الان </a>
                <a class="btn--full" href="#"> اقرأ المزيد </a>
              </div>
            </div>
            <div class="modal-box-img">
              <!-- <img src="" alt=""> -->
              <img src="./assets/images/pyramids.jpg" class="w-100" alt="" />
            </div>
          </div>
        </div>
        <!-- <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        Close
      </button>
    </div> -->
      </div>
    </div>
  </div>
</section>
