<section class="details">
  <div class="container">
    <div class="details-main-img">
      <img src="./assets/images/tower.png" alt="" />
      <div
        *ngFor="let image of overlayImages"
        [ngStyle]="{
          top: image.top,
          right: image.right ? image.right : 'auto',
          left: image.left ? image.left : 'auto',
          width: image.width,
          height: image.height,
          cursor: 'pointer'
        }"
        class="overlay-image"
      >
        <img [src]="image.src" [alt]="image.alt" />
      </div>
    </div>
  </div>
</section>
