@use "../../styles/variables" as *;

.details {
  .details-main-img {
    margin: auto;
    text-align: center;
    position: relative;
    width: 100%; /* Adjust as needed */
    max-width: 600px; /* Example max width */
    margin: auto; /* Center the container */
  }
}

.image-container {
  position: relative;
  width: 100%; /* Adjust as needed */
  max-width: 600px; /* Example max width */
  margin: auto; /* Center the container */
}

.image-container .main-image {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
}

.overlay-image {
  position: absolute;
  width: auto; /* Adjust based on your needs */
  height: auto; /* Adjust based on your needs */
}

.overlay-image img {
  width: 200px;
  height: auto;
}

.overlay-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.modal-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  &-content {
    margin-top: 1.2rem;
    .modal-title {
      font-size: 2rem;
      font-weight: 700;
      text-align: center;
      span {
        position: relative;
        &::before {
          content: "";
          display: inline-block;
          position: absolute;
          left: -50px;
          bottom: 10px;
          width: 5rem;
          height: 2px;
          background-color: $textColor;
        }

        &::after {
          content: "";
          display: inline-block;
          position: absolute;
          right: -50px;
          bottom: 10px;
          width: 5rem;
          height: 2px;
          background-color: $textColor;
        }
      }
    }

    &-text {
      font-size: 1.8rem;
    }
  }
}

.custom-modal-lg .modal-dialog {
  max-width: 800px; /* Example for larger fixed width */
  margin: auto;
}
