@use "../../styles/variables" as *;

.container {
  position: relative;
}
.details {
  .details-main-img {
    margin: auto;
    text-align: center;
    // position: relative;
    width: 100%;
    // max-width: 600px;
    margin: auto;
  }
}

.image-container {
  position: relative;
  width: 100%; /* Adjust as needed */
  max-width: 600px; /* Example max width */
  margin: auto; /* Center the container */
}

.image-container .main-image {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
}

.overlay-image {
  position: absolute;
  width: auto;
  height: auto;
}

.overlay-image img {
  // width: 200px;
  max-width: 40%;
  height: auto;
}

.overlay-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/**modal*/
.modal-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
  &-content {
    margin-top: 1.2rem;
    padding-bottom: 1.2rem;
    .modal-title {
      font-size: 2rem;
      font-weight: 700;
      text-align: center;
      span {
        position: relative;
        &::before {
          content: "";
          display: inline-block;
          position: absolute;
          left: -50px;
          bottom: 10px;
          width: 5rem;
          height: 2px;
          background-color: $textColor;
        }

        &::after {
          content: "";
          display: inline-block;
          position: absolute;
          right: -50px;
          bottom: 10px;
          width: 5rem;
          height: 2px;
          background-color: $textColor;
        }
      }
    }

    &-text {
      font-size: 1.8rem;
      text-align: center;
      margin-top: 1.2rem;
    }

    .prices {
      h5 {
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        span {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #222;
          }
        }
      }

      &-list {
        text-align: center;
        font-size: 1.8rem;
        margin-top: 1.2rem;
        li {
          font-weight: 700;
          .prices-type {
            color: $primaryColor;
          }
        }
      }
    }
  }
}

.modal-header {
  border-bottom: none;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1.2rem;
}

.btn--full {
  // font-size: 1rem !important;
}

/******/

.modal-dialog {
  .modal-content {
    border-radius: 10px;
  }
}

.custom-modal-lg {
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0;
}

.modal-box-content,
.modal-box-img {
  flex: 1;
  text-align: center;
}

.modal-box-img {
  img {
    height: 100%;
  }
}

.modal-content {
  overflow-y: auto;
}
.header {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99999;
  padding: 1rem;
}

.line {
  width: 230px !important;
}

.modal.show {
  display: flex !important;
  align-items: center !important;
}

.divider-image {
  transform: translateY(-50%) !important;
  position: relative !important;
  z-index: -1 !important;
}

.carousel,
.carousel-inner,
.carousel-item {
  height: 100% !important;
}

@media (max-width: 75em) {
  .line {
    max-width: 21% !important;
  }
}

@media (max-width: 62em) {
  .line {
    max-width: 15% !important;
  }
}

@media (max-width: 48em) {
  .line {
    max-width: 10% !important;
  }
}

@media (max-width: 27em) {
  .overlay-content {
    img {
      width: 150px !important;
    }
  }

  .line {
    max-width: 20% !important;
  }
}

@media (max-width: 23em) {
  .overlay-content {
    img {
      width: 125px !important;
    }
  }
}

@media (max-width: 21em) {
  .overlay-content {
    img {
      width: 100px !important;
    }
  }
}
