<section class="form mr-top">
  <div class="container">
    <div class="form-title">
      <h3 class="section-title">تواصل معنا</h3>
    </div>

    <div class="form-desc">
      <p>
        هل تريد حجز حفل خاص معنا؟ نود أن نراكم مع أصدقائك وعائلتك في برامجنا.
        نحن نقدم حجز المناسبات الخاصة لحفلات أعياد الميلاد ، وحفلات الزفاف ،
        وحفلات الشركات ، والتجمعات العائلية، والاجتماعات الكبيرة والصغيرة.
        يمكننا أن نقدم خدمة تقديم الطعام وتقديم حزم مختلفة يمكنك الاختيار من
        بينها وتخصيص لتزيين حزبكم.
      </p>
    </div>

    <div class="form-main">
      <div class="form-main-container">
        <div class="form-main-inputs">
          <div class="form-main-inputs-title">
            <img src="./assets/images/contact/Vector.png" alt="vector" />
            <h3>تواصل معنا</h3>
          </div>
          <form>
            <div class="form-main-item">
              <input type="text" placeholder="اسمك" />
            </div>

            <div class="form-main-item">
              <input type="text" placeholder="تليفونك" />
            </div>

            <div class="form-main-item">
              <input type="email" placeholder="بريدك الالكتروني" />
            </div>

            <div class="form-main-item">
              <textarea rows="5" cols="50" placeholder="رسالتك"></textarea>
            </div>
          </form>
        </div>

        <div class="form-main-content">
          <div class="contact-info-container">
            <div class="contact-info-img">
              <img
                src="./assets/images/contact/pyramids.png"
                alt="form pyramid"
                class="w-100"
              />
            </div>

            <div class="contact-info-text">
              <h3>وسائل التواصل</h3>
              <ul class="contact-info-list">
                <li class="contact-info-list-item">
                  <img
                    src="./assets/images/contact/location.png"
                    alt="Location"
                  />
                  <p>ميدان ابو الهول - نزلة السمان الاهرامات - الجيزه - مصر</p>
                </li>

                <li class="contact-info-list-item">
                  <img src="./assets/images/contact/mail.png" alt="Location" />

                  <p>support@soundandlight.show</p>
                </li>

                <li class="contact-info-list-item">
                  <img src="./assets/images/contact/phone.png" alt="Location" />
                  <p>+201553113161</p>
                </li>
              </ul>

              <ul class="social-icons">
                <li>
                  <a href="#">
                    <img
                      src="./assets/images/icons/youtube.png"
                      alt="youtube"
                    />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img
                      src="./assets/images/icons/twitter.png"
                      alt="twitter"
                    />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img
                      src="./assets/images/icons/linkedin.png"
                      alt="linkedIn"
                    />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img
                      src="./assets/images/icons/instagram.png"
                      alt="instagram"
                    />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img
                      src="./assets/images/icons/facebook.png"
                      alt="facebook"
                    />
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="submit-button mt-5">
      <a class="btn--full" href="#">ارسال</a>
    </div>
  </div>
</section>
