<section class="request-offers mr-top">
  <div class="container d-flex justify-content-center">
    <div class="img-content">
      <img src="./assets/images/Papyrus.png" alt="offer" />

      <div class="img-text">
        <h1>إحجز عروضنا اليومية</h1>
        <p>
          مرحباً بكم في الموقع الرسمي للصوت والضوء في مصر <br />
          حيث تقدم عروضنا لكم تجربة ثقافية ممتعه عن مصر القديمة وحضارتها <br />
          حيث يقوم الفراعنة بأنفسهم برواية قصصهم <br />
          وإنجازاتهم المدهشه خلال حكم مصر <br />
          انها تجربه تستحق التجربة, انها تجربه فريده من نوعها <br />.تسرد حقائق
          تاريخيه عن عظمه المصريين القدماء
        </p>
      </div>
    </div>
  </div>
</section>

<app-divider></app-divider>
