<div class="virtaul mr-top">
  <div class="container">
    <div class="virtaul-header">
      <h3>عرض الكرنك</h3>
      <div class="virtaul-header-location">
        <img src="./assets/images/contact/location.png" alt="location" />
        <span>الاقصر</span>
      </div>
    </div>

    <div class="virtual-description">
      <div class="virtual-description-box">
        <div class="virtual-description-box-text">
          <ul class="virtual-description-box-text-list">
            <li>استعد لتجربة استثنائية</li>
            <li>من خلال عرض الواقع الافتراضي،</li>
            <li>حيث ستغمرك نظارتك الذكية</li>
            <li>بعالم مصر القديمة وحضارة الفراعنة.</li>
            <li>انطلق في رحلة لا تُنسى إلى أسرار الماضي،</li>
            <li>حيث ستتجول بحرية في أروقة معبد الكرنك العتيقة،</li>
            <li>وتكتشف تفاصيل تاريخية مذهلة وأساطير مدهشة.</li>
          </ul>
        </div>

        <div class="virtual-description-box-img">
          <img
            src="./assets/images/virtual-reality/virtual.png"
            alt="virtual-reality-img"
            class="w-100"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="vitual-reality-body mr-top">
  <div class="container">
    <p>
      استمع إلى صوت الحضارة واستنشق أجواء العصور القديمة، بينما تُعرض لك قصص
      وأسرار الآلهة والملوك بطريقة تفاعلية ومثيرة. انغمس في جدران المعبد
      المزخرفة بالرموز والرسومات الهيروغليفية، واستكشف كل زاوية وتفاصيلها بدقة
      لا مثيل لها.
    </p>

    <p>
      تجربة الواقع الافتراضي ستأخذك في رحلة مدهشة من الإثارة والتعلم، حيث ستعيش
      تجربة شيقة ومفعمة بالمعرفة في عالم الفراعنة. احجز الآن لتخوض هذه التجربة
      الفريدة وتسافر عبر الزمن إلى عالم مصر القديمة بكل روعتها وجمالها.
    </p>

    <div class="show-info-alert mt-5">
      <ul class="show-info-alert-list">
        <li class="show-info-alert-list-item">
          <i class="fa-solid fa-exclamation alert-icon"></i>
          <p>في حالة إقامة عرض ثاني، يكون بحد أدنى لـ 30 سياح.</p>
        </li>
        <li class="show-info-alert-list-item">
          <i class="fa-solid fa-exclamation alert-icon"></i>
          <p>
            تقام العروض بدون حد ادني في حالة وجود حجز الكتروني مسبق من خلال موقع
            الشركة و ذلك حرصا علي مصداقية الشركة مع العملاء.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
