<section class="show-prices mr-top">
  <div class="container">
    <div class="show-prices-content">
      <div class="show-prices-content-title">
        <h3>الأسعار</h3>
        <img src="./assets/images/karnak/tickets.png" alt="Frame" />
      </div>

      <div class="prices-description">
        <ul class="prices-description-list">
          <li class="prices-description-list-item">
            <h3>عادية</h3>
            <p>80 جنية مصري</p>
          </li>
          <li>
            <h3>طفل</h3>
            <p>45 جنية مصري</p>
            <p>من 6 الي 12 سنة</p>
          </li>
        </ul>
      </div>
      <div class="prices-description vip-content">
        <ul class="prices-description-list">
          <li class="vip">
            <h3>VIP</h3>
            <p>200 جنية مصري</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
