.about-header {
  background: url("../../../../assets/images/about-header.png");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover; /* Cover the entire area */
  background-repeat: no-repeat; /* Do not repeat the image */

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .about-header-content {
    text-align: center;
  }

  .about-header-content-title {
    margin-bottom: 2rem;
  }
}
