/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
// -FONT SIZE SYSTEM (px):
// 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 /98
$dangerButton: #c9151b;
$btnColor: #e9a05c;
html {
  direction: rtl;
  // height: 5000px;
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Cairo", sans-serif !important;
  background: url("./assets/images/photos/background.jpg");
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}

.mr-top {
  margin-top: 4.8rem;
}

.grid {
  display: grid;
}

.grid--template--2 {
  grid-template-columns: repeat(2, 1fr);
}

.btn--full:link,
.btn--full:visited {
  display: inline-block;
  background-color: $dangerButton;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  // padding: 1.6rem 3.2rem;
  padding: 1rem 4rem;
  border-radius: 9px;

  transition: all 1s;
}

.btn--full:hover,
.btn--full:active {
  opacity: 0.8;
  // background-color: transparent;
  // border: 1px solid #fff;
}

ul {
  padding: 0;
  list-style: none;
}

@media (max-width: 48em) {
  .btn--full:link,
  .btn--full:visited {
    font-size: 1.2rem;
    padding: 1rem 3rem;
  }

  .virtual-reality-container-image {
    align-self: center;
  }
}

@media (max-width: 33em) {
  .btn--full:link,
  .btn--full:visited {
    font-size: 1rem;
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 425px) {
  /* Hide horizontal scrollbar on the body or container */
  body {
    overflow-x: hidden;
  }
}

.main-btn {
  // width: 195px;
  height: 58px;
  padding-right: 4.8rem;
  padding-left: 4.8rem;
  color: #2a2824;
  background-color: $btnColor;
  font-size: 3.2rem;
  border: none;
  border-radius: 0.5rem;
  transition: all 0.5s ease-in-out;

  &:hover {
    background-color: #fff !important;
  }
}

.modal {
  z-index: 99999999 !important;
}
