<section class="about-description mr-top">
  <div class="container">
    <div class="about-description-content">
      <div class="about-description-content-title">
        <h3 class="section-title">من نحن</h3>
      </div>

      <div class="about-description-content-text">
        <h3>شركة مصر لعروض للصوت والضوء والتنمية السياحية</h3>
        <p>
          شركة مصر للصوت والضوء هي شركة معروفة بتقديم عروض الصوت والضوء في مختلف
          المواقع الأثرية المختلفة بمصر (الاهرامات ، معبد الكرنك بالاقصر ، معبد
          فيلة ، معبد أبو سمبل و يعود تنظيم عروض الصوت والضوء في منطقة الاهرامات
          إلى عام 1960 ، والذي تم افتتاحه في عهد الزعيم الراحل جمال عبد الناصر
          وهو من اعظم عروض الصوت والضوء بمصر و يتميز باستخدام اجهزه الليز
          الحديثة يعود تاريخ افتتاح مشروع الصوت والضوء في معبد الكرنك إلى عام
          1972 ، وهو أحد أكبر المعابد في مدينة طيبة بالاقصر التي كانت عبارة عن
          معبد عبادة مكرس لأمون وموت وخونسو. يعود تاريخ افتتاح مشروع الصوت
          والضوء في جزيرة فيلة إلى عام 1985 ، وهو مجموعه من المعابد التي تم
          إنشاؤها في عهد البطالمة خلال عهد الأسرة الفرعونية الأخيرة. يعود تاريخ
          افتتاح مشروع الصوت والضوء لمعبد أبو سمبل إلى عام 2000 ، حيث يروي فيها
          الملك رمسيس الثاني انتصاراته المجيدة لجيوشه وقصة بناء معبده و معبد
          زوجته نفرتيتي. يعود تاريخ افتتاح مشروع الصوت والضوء لمعبد إدفو إلى عام
          2010. يروي الفيلم المدهش القصة التاريخية للمعبد ، أسطورة حورس (إله
          إدفو) ورحلته السنوية مع حاتحور (إلهة دندرة) كما تروي قصه نضال الاله
          حورس وأمه إيزيس ضد قوي الشر. شركة مصر للصوت والضوء أصبحت في الوقت
          الحاضر واحدة من أهم الشركات العالمية التي يتم الاستعانه بها دوليًا
          للمساعدة في مجال إنارة المعالم الأثرية والمعالم السياحيه عالميا. :قصه
          بدايه عروض الصوت الضوء - في عام ١٩٦١ اقترح"الدكتور ثروت عكاشة" أول
          وزير ثقافة في الجمهورية، على الرئيس جمال عبد الناصر، إقامة عرض تاريخي
          جذاب في منطقة أهرامات الجيزة بهدف التعريف بتاريخ المنطقة، وتنشيط
          السياحة، وجذب مزيد من السائحين. - فكرة راودت "الوزير ثروت عكاشة"،
          بعدما شاهد عرض مبهر باستخدام الصوت والضوء في "قصر فرساي" بباريس، ومن
          هنا قرر تنفيذ المشروع، ووقع الاختيار على منطقة أهرامات الجيزة لتكون
          بداية انطلاق ما عرف بعد ذلك بعروض الصوت والضوء. - مزيج رائع من أنغام
          الموسيقى المعبرة، مع الأضواء المبهرة، مصحوبة بشرح لتاريخ المنطقة
          الاثرية التي تعرض بها. يصحبك في رحلة خلابة عبر ٥٠ قرنًا من الزمان،
          لتشهد عظمة الحضارة المصرية الخالدة. - انطلق العرض الأول للصوت والضوء
          في منطقة أهرامات الجيزة، يوم ١٣ أبريل عام ١٩٦١ بحضور الرئيس جمال عبد
          الناصر، بعد ذلك بدأ بالتتابع تنفيذ المشروع في العديد من المناطق
          الاثرية على مستوى جمهورية مصر العربية، حيث تم افتتاح العرض في معبد
          الكرنك عام ١٩٧٢ ، بعد ذلك تم افتتاحه في جزيرة فيلة عام ١٩٨٥ ، ثم جاء
          الدور على معبد أبو سمبل حيث تم افتتاح العرض عام ٢٠٠٠ ، وأخيرًا انطلقت
          عروض الصوت والضوء في معبد إدفو عام ٢٠١٠ . - في البداية كان عرض الصوت
          والضوء يشغل يدويًا، عن طريق فنيين متخصصين يتحكمون في جمل الصوت وألوان
          الإضاءة. حتى عام ١٩٧٦، حيث تم استبدال التشغيل اليدوي بالعرض
          الاوتوماتيكي، باستخدام شريط واحد، ويتم التحكم في تراكات الصوت والضوء
          كل على حدة. - استمر العرض في التطور والتقدم إلى أن وصل لشكله الحالي،
          حيث أصبح يدار بالكامل عن طريق الأجهزة التكنولوجية الرقمية الحديثة، مما
          أضفى عليه جودة عالية في طرق العرض والتقديم. يقدم العرض حاليًا من خلال
          ١١ لغة مختلفة وهي: (العربية- الانجليزية- الفرنسية- الألمانية-
          الإيطالية- الاسبانية- الروسية- التشيكية- البولندية- اليابانية-
          الصينية). وأصبحت "شركة مصر للصوت والضوء" في الوقت الحاضر من الشركات
          العالمية في مجال إنارة المعالم الآثرية والمناطق السياحية على مستوى
          العالم. - مما لا يدع مجالاً للشك، إن هذه الأماكن التاريخية تتحدث عن
          نفسها، وتشهد أمام العالم على عظمة الحضارة المصرية القديمة، ولكن إضافة
          مثل تلك العروض يزيدها بهاءًا وفخامة، ويضفي عليها طابع التشويق، مما
          يجعل تجربة زيارة تلك الأماكن تجربة لا تنسى.
        </p>
      </div>
    </div>
  </div>
</section>
