@use "../../../styles/variables" as *;

.about-description {
  color: #fff;
  &-content {
    // display: flex;
    &-title {
      // flex-basis: 20%;
      h3 {
        font-size: 4.8rem;
      }
    }

    &-text {
      // flex-basis: 80%;
      font-size: 1.8rem;
      font-weight: 400;
      h3 {
        font-weight: 800;
        margin-bottom: 3rem;
      }

      p {
        line-height: 3rem;
      }
    }
  }
}

.about-us-list {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  &-item {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.8;
    position: relative;
    padding-right: 3rem;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 3px;
      background-color: $btnColor;
    }
  }
}

.section-title {
  position: relative;
  display: flex;
  flex-direction: column;
  &:after {
    content: url("../../../../assets/images/frame.png");

    width: 10rem;
  }
}
